*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#f5f5f5;
}
/* NAVBAR*/
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 80px;
    background:white
}
.logo{
    font-weight:bold;
    font-size:20px;
}
.nav-links{
    text-decoration:none;
    color:#333;
}
.signup{
    background:#ff6a00;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}
.hero{
    text-align:center;
    padding:120px 20px;
    background:#efe6e1;
}
.hero h1{
   font-size:48px;
   mzrgin-bottom:15px; 
}
.hero p{
    color:#666;
    max-width:600px;
    margin:auto;
    margin-bottom:30px;
}
.buttons button{
    padding:12px 25px;
    border-radius:6px;
margin:5px;
cursor:pointer;
}
.primary{
    background: #ff6a00;
    color:white;
}

.Secondary{
    background: #ddd;

}
.features{
    display:flex;
    justify-content: center;
    gap:30px;
    padding:80px 40px;
}
.card{
    background:white;
    padding:white;
    border-radius: 10px;
    width:250px;
    box-shadow:0 5px 10px rgba(o,o,o,1);
    text-align:center;

}
.card h3{
    margin-bottom:10px;
}